---
 - name: "Site24x7 MongoDB Plugin Installation"
   hosts: all 
   become: yes
   vars:
      mongoDB_host: "mongoDB_host"
      mongoDB_port: "27017"
      mongoDB_username: '"None"'                      # mongoDB username    [default value "'None'" incase of no username]
      mongoDB_password: '"None"'                      # mongoDB password    [default value "'None'" incase of no password]
      mongoDB_dbname: "mydatabase"
      mongoDB_authdb: "admin"                         # mongoDB authentication database
      mongoDB_tls: False                              # mongoDB TLS option (True/False)    [default value "False" incase of no TLS]
      mongoDB_tlscertificatekeyfile: '"None"'         # mongoDB TLS certificate path       [default value '"None"' incase of no TLS]
      mongoDB_tlscertificatekeyfilepassword: '"None"' # mongoDB TLS certificate password   [default value '"None"' incase of no TLS]
      mongoDB_tlsallowinvalidcertificates: False      # mongoDB invalid TLS certificate (True/False)   [default value "False" incase of no TLS]


  
   tasks:    
  # Site24x7 MongoDB Prerequisites Check

   - name: "Python3 Installation Check."
     command: "python3 --version"
     register: python_version_output
     ignore_errors: yes

   - name: "Installing Python if not found (for Debian/Ubuntu)."
     apt:
        name: python3
        state: present
     when: "not python_version_output.stdout and ansible_facts['os_family'] == 'Debian'"

   - name: "Installing Python if not found (for CentOS/RedHat)."
     yum:
        name: python3
        state: present
     when: "not python_version_output.stdout and ansible_facts['os_family'] == 'RedHat'"

   - name: "pip3 Installation Check."
     command: "pip3 --version"
     register: pip_version_output
     ignore_errors: yes

   - name: "Installing pip3 if not found (for Debian/Ubuntu)."
     apt:
        name: python3-pip
        state: present
     when: "not pip_version_output.stdout and ansible_facts['os_family'] == 'Debian'"

   - name: "Installing pip3 if not found (for RedHat/CentOS)."
     yum:
        name: python3-pip
        state: present
     when: "not pip_version_output.stdout and ansible_facts['os_family'] == 'RedHat'"

   - name: "Installing pymongo Python3 Package."
     pip:
        name: pymongo
        state: present
        executable: pip3
     ignore_errors: yes

   - name: "Site24x7 Agent Directory Check."
     stat:
      path: "/opt/site24x7/monagent/temp"
     register: agent_path_check

   - name: "Hosts with no Site24x7 Agent Directory"
     debug:
      msg: "Agent Directory not found"

     when: not agent_path_check.stat.exists


   - name: "Site24x7 Temp Plugins Directory Creation."
     file:
      path: "/opt/site24x7/monagent/temp/plugins/mongoDB"
      state: directory
     when: agent_path_check.stat.exists

   - name: "Site24x7 Plugin Directory Check"
     stat:
      path: "/opt/site24x7/monagent/temp/plugins/mongoDB"
     register: plugin_path_check

   - name: "Download the Site24x7 MongoDB Plugin Files."
     get_url:
        url: "{{ item }}"
        dest: "/opt/site24x7/monagent/temp/plugins/mongoDB"
        mode: 0744
     loop: ["https://raw.githubusercontent.com/site24x7/plugins/master/mongoDB/mongoDB.py","https://raw.githubusercontent.com/site24x7/plugins/master/mongoDB/mongoDB.cfg"]
     when: plugin_path_check.stat.exists
    

  # Site24x7 MongoDB Plugin Config File Setup

   - name: "Site24x7 MongoDB Config File Check."
     stat:
      path: "/opt/site24x7/monagent/temp/plugins/mongoDB/mongoDB.cfg"
     register: mongoDB_file_check

   - name: "Site24x7 MongoDB configuration."
     lineinfile: 
       path: "/opt/site24x7/monagent/temp/plugins/mongoDB/mongoDB.cfg"
       regexp: "{{ item.regex }}"
       line: "{{ item.line }}"
     loop:
       - { regex: 'host =', line: 'host ={{mongoDB_host}}' }
       - { regex: 'port =', line: 'port ={{mongoDB_port}}' }
       - { regex: 'username =', line: 'username ={{mongoDB_username}}' }
       - { regex: 'password =', line: 'password ={{mongoDB_password}}' }
       - { regex: 'dbname =', line: 'dbname ={{mongoDB_dbname}}' }
       - { regex: 'authdb=', line: 'authdb ={{mongoDB_authdb}}' }
       - { regex: 'tls=', line: 'tls ={{mongoDB_tls}}' }
       - { regex: 'tlscertificatekeyfile=', line: 'tlscertificatekeyfile ={{mongoDB_tlscertificatekeyfile}}' }
       - { regex: 'tlscertificatekeyfilepassword=', line: 'tlscertificatekeyfilepassword ={{mongoDB_tlscertificatekeyfilepassword}}' }
       - { regex: 'tlsallowinvalidcertificates=', line: 'tlsallowinvalidcertificates ={{mongoDB_tlsallowinvalidcertificates}}' }
     when: mongoDB_file_check.stat.exists


  # Site24x7 MongoDB Python File Setup

   - name: "Site24x7 MongoDB Python File Check."
     stat:
      path: "/opt/site24x7/monagent/temp/plugins/mongoDB/mongoDB.py"
     register: mongoDB_python_file_check

   - name: "Extracting Python3 Default Path."
     command: which python3
     register: python3_path

   - set_fact:
      actual_path: "{{ '#!'+python3_path.stdout }}"

   - name: "Setting the Default Python Path for the Site24x7 MongoDB Plugin"
     lineinfile:
       path: "/opt/site24x7/monagent/temp/plugins/mongoDB/mongoDB.py"
       regexp: "#!"
       line: "{{actual_path}}"
     when: mongoDB_python_file_check.stat.exists

   - name: "Checking the Site24x7 mongoDB Plugin Output"
     shell: "python3 /opt/site24x7/monagent/temp/plugins/mongoDB/mongoDB.py --host={{mongoDB_host}} --port={{mongoDB_port}} --username={{mongoDB_username}} --password={{mongoDB_password}} --dbname={{mongoDB_dbname}} --authdb={{mongoDB_authdb}} --tls={{mongoDB_tls}}"
     register: mongoDB_python_output
     when: mongoDB_python_file_check.stat.exists

   - name: "Site24x7 mongoDB plugins with Error !"
     debug:
      msg: "Site24x7 mongoDB Plugin OUTPUT error ! \n {{ mongoDB_python_output.stdout }}"
     when: "'\"status\": 0' in mongoDB_python_output.stdout and mongoDB_python_file_check.stat.exists"

   - name: "Moving the Site24x7 mongoDB Folder to the Plugins Directory"
     command: "mv  /opt/site24x7/monagent/temp/plugins/mongoDB /opt/site24x7/monagent/plugins"
     ignore_errors: true
     when: "plugin_path_check.stat.exists and '\"status\": 0' not in mongoDB_python_output.stdout"
